.music{
    padding:150px 0;
    text-align:center;
}

.music h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Palatino Linotype';
    color: black;
    letter-spacing: 20px;
}

.music a {
    font-size: 30px;
    background-color:rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    font-family: 'Century Gothic';
    padding: 8px;
}

.music a:hover{
    text-decoration:none;
    background-color:black;
}

.menu{
    background-color:black;
    padding-left: 450px;
}

.menu ul{
    list-style-type:none;
    margin:0;
    padding:4px;
    overflow:hidden;
    background-color:black;
}

.menu li a{
    display:inline-block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:18px;
}

.menu li{
    float:left;
}

.species{
    list-style-type:none;
    margin:0;
    padding:4px;
    overflow:hidden;
    border-style:none;
    background-color:rgba(238, 238, 238, 0.83);
    
    
}

.species li a{
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    color:black;
    font-size:20px;
    text-align:center;
    border-left-style:solid;
    border-left-width:thick;
    border-left-color:mediumvioletred;
    padding-left:5px;
    
}

.species li a:hover{
    background-color:black;
    color:white;
}

.col-sm-6{
    background-color:rgba(255, 216, 0, 0.85);
}

.col-sm-6 h4{
    font-size:45px;
    font-weight:bold;
}


.footer{
    color: white;
    
    border-style:none;
    background-color: #c91d61;
    background: linear-gradient(20deg,blue,crimson,purple); /*Change colors as you want*/
    background-size: 1000% 1000% !important;
    -webkit-animation: changeColors 30s ease infinite;
    -moz-animation: changeColors 30s ease infinite;
    -o-animation: changeColors 30s ease infinite;
    animation: changeColors 30s ease infinite;
}

@-webkit-keyframes changeColors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.pagination {
    display: inline-block;
}

  